@import url('https://fonts.googleapis.com/css?family=Lato:400,900|Source+Sans+Pro:400,700');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');
// @import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Courgette|Dancing+Script:400,700|Pacifico');
@import url('https://fonts.googleapis.com/css?family=Oswald:600');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700,700i,900,900i');

// 1em = 16px
$nav_font_size: 0.9em;
$nav_sub_font_size: 1.00em;
$desc_font_size: 0.9em;
$spin_size: 15px;