   .mycard {
       width: 100%;
       height: auto;
   }
   
   a {
       text-decoration: none;
   }
   
   .inline {
       display: inline;
   }
   
   .card-img {
       object-fit: cover;
       object-position: center;
       transition: all .1s ease-in-out;
       &.hover {
           transform: scale(1.05);
       }
   }
   
   #board-card,
   #related-card {
       h1.card-title {
           display: inline!important;
           background-size: 200% 100%;
           background-image: linear-gradient(to left, #e7adff 0%, #bad7ff 8%, #b2ffe6 16%, #edffb2 24%, #ffe6b2 32%, #ffd6e2 40%, #ffdbdb 50%, rgba(1, 1, 1, 0) 50%, rgba(1, 1, 1, 0) 100%);
           transition: background-position 0.3s;
           color: lighten(black, 20);
           &.hover {
               // color: hotpink;
               background-position: -100% 0;
           }
       }
       h1 {
           //font-family: 'Lato', sans-serif;
           font-size: 1.70em;
           font-weight: 700;
           //line-height: 1.40em;
           text-decoration: none;
       }
       h2 {
           font-size: 1.00em;
       }
       .card-img {
           width: 100%;
           margin-bottom: 15px;
       }
   }
   
   #horizon-card {
       margin-bottom: 10px;
       .card-title {
           font-weight: 700;
           //    display: inline!important;
           background-size: 200% 100%;
           background-image: linear-gradient(to left, #e7adff 0%, #bad7ff 8%, #b2ffe6 16%, #edffb2 24%, #ffe6b2 32%, #ffd6e2 40%, #ffdbdb 49.99%, rgba(1, 1, 1, 0.0) 50%, rgba(1, 1, 1, 0) 100%);
           transition: background-position 0.3s;
           color: lighten(black, 20);
           &.hover {
               // color: hotpink;
               background-position: -100% 0;
           }
       }
       h1 {
           font-size: 0.5em;
           font-weight: 700;
       }
       h2 {
           font-size: 0.4em;
       }
       .right-block {}
       .center {
           position: relative;
           width: 100px;
           height: 100px;
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
       }
       .card-img {
          
           position: relative;
           z-index: 10;
           width: 100px;
           height: 100px;
           margin-right: 10px;
       }
   }
   
   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
       font-family: 'Roboto', sans-serif;
       margin: 0px;
       line-height: 1.2;
   }
   
   .card-category {
       color: lightgrey;
       font-weight: 600;
       //margin-top: 3px;
   }
   
   .card-desc {
       color: black;
   }
   
   .more {
       color: gray;
       font-weight: bold;
       &.hover {
           color: hotpink;
       }
   }