   .mycard {
       width: 100%;
       height: auto;
   }
   
   a {
       text-decoration: none;
   }
   
   .card-img {
       margin-bottom: 15px;
       width: 100%;
       object-fit: cover;
       object-position: center;
       transition: all .1s ease-in-out;
       &.hover {
           transform: scale(1.05);
       }
   }
   
   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
       font-family: 'Roboto', sans-serif;
       margin: 0px;
       line-height: 1.2;
   }
   
   #board-card {
       h1 {
           //font-family: 'Lato', sans-serif;
           font-size: 1.70em;
           font-weight: 700;
           //line-height: 1.40em;
           text-decoration: none;
       }
       h2 {
           font-size: 1.00em;
       }
   }
   
   #related-card {
       h1 {
           font-size: 1.3em;
           font-weight: 700;
       }
       h2 {
           font-size: 1.00em;
       }
   }
   
   h1.card-title {
       display: inline!important;
       background-size: 200% 100%;
       background-image: linear-gradient(to left, #e7adff 0%, #bad7ff 8%, #b2ffe6 16%, #edffb2 24%, #ffe6b2 32%, #ffd6e2 40%, #ffffff 50%, #ffffff 100%);
       transition: background-position 0.3s;
       color: lighten(black, 20);
       &.hover {
           // color: hotpink;
           background-position: -100% 0;
       }
   }
   
   .card-category {
       color: lightgrey;
       font-weight: 600;
       //margin-top: 3px;
   }
   
   .card-desc {
       color: black;
   }
   
   .more {
       color: gray;
       font-weight: bold;
       &.hover {
           color: hotpink;
       }
   }