   .mycard {
       width: auto;
       height: auto;
       margin-bottom: 20px;
   }

   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
       font-family: 'Roboto', sans-serif;
       margin: 0px;
       line-height: 1.2;
       font-weight: 700;
       text-decoration: none;
   }

   a {
       text-decoration: none;
       color:inherit;
       text-align: center;
   }

   .inline {
       display: inline;
   }

   .card-main-img {
       object-fit: cover;
       object-position: center;
       transition: all .1s ease-in-out;
       width: 100%; // default width
       cursor: pointer;
   }

   .rainbow-animate-text {
       display: inline!important;
       background-size: 200% 100%;
       background-image: linear-gradient(to left, #e7adff 0%, #bad7ff 8%, #b2ffe6 16%, #edffb2 24%, #ffe6b2 32%, #ffd6e2 40%, #ffdbdb 50%, rgba(1, 1, 1, 0) 50%, rgba(1, 1, 1, 0) 100%);
       transition: background-position 0.3s;
       color: lighten(black, 20);
       &.hover {
           background-position: -100% 0;
       }
   }

   #board-card,
   #related-card {
       h1 {
           font-size: 1.70em;
       }
       h2 {
           font-size: 1.00em;
       }
       .card-main-img {
           
           margin-bottom: 15px;
           &.hover {
               transform: scale(1.05);
           }
       }
   }

   #horizon-card {
       h1 {
           font-size: 1.2em;
       }
       h2 {
           font-size: 0.4em;
       }
       .right-block {
           cursor: pointer;
       }
       .center {
           position: relative;
           width: 100px;
           height: 100px;
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
       }
       .card-main-img {
           margin-right: 10px;
           &.hover {
               transform: scale(1.05);
           }
       }
   }

   #highlight-card {
       h1 {
           font-family: 'PT Serif', sans-serif;
           font-weight: 700;
           font-style: italic;
           font-size: 33px;
           text-align: center;
           margin-bottom: 10px;
           &.hover{
               text-decoration: underline;
           }
       }
       h2 {
           font-size: 0.6em;
       }
       td{
           height: 100%;
       }
       td.right-column{
           background-color: #f9f9f9;
           padding: 10px 7.5%;
       }
       .link-group {
           text-align: center;
           cursor: pointer;
       }
       span.date {
            color:#afafaf;
            margin-bottom: 5px;
       }
   }

   .card-category {
       color: lightgrey;
       font-weight: 600; //margin-top: 3px;
   }

   .card-desc {
       color: black;
   }

   .more {
       color: gray;
       font-weight: bold;
       &.hover {
           color: hotpink;
       }
   }