<div *ngIf="document && styleNumber === 1">
    <article id="board-card" class="mycard" [ngStyle]="{'width':width+'px'}" (mouseenter)="isHover=true" (mouseleave)="isHover=false">
        <a [routerLink]="[linkResolver(document)]">
            <img [src]="image?image.url:''" [ngClass]="{'card-img':true,'hover':isHover}" [ngStyle]="{'height':imageHeight+'px'}">
            <h1 [ngClass]="{'card-title':true,'hover':isHover}">{{title?title.getTitle().text:''}}</h1>
            <div class="card-category">{{capitalizeFirstLetter(category.getText('category.name'))}}</div>
            <div class="card-desc">{{desc}} <span [ngClass]="{'more':true,'hover':isHover}" *ngIf="isMore">  — read more</span></div>
        </a>
    </article>
</div>
<div *ngIf="document && styleNumber === 2">
    <article id="related-card" class="mycard" (mouseenter)="isHover=true" (mouseleave)="isHover=false">
        <a [routerLink]="[linkResolver(document)]">
            <img [src]="image?image.url:''" [ngClass]="{'card-img':true,'hover':isHover}" [ngStyle]="{'height':imageHeight+'px'}">
            <h1 [ngClass]="{'card-title':true,'hover':isHover}">{{title?title.getTitle().text:''}}</h1>
            <div class="card-category">{{capitalizeFirstLetter(category.getText('category.name'))}}</div>
            <div class="card-desc">{{desc}} <span [ngClass]="{'more':true,'hover':isHover}" *ngIf="isMore">  — read more</span></div>
        </a>
    </article>
</div>
<div *ngIf="document && styleNumber === 3">
    <article id="horizon-card" [routerLink]="[linkResolver(document)]" class="mycard justify-content-center" (mouseenter)="isHover=true"
        (mouseleave)="isHover=false">
        <!--image laoder-->
        <div class="center" *ngIf="loadingImage">
            <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
        </div>
        <!---->
        <img [hidden]="loadingImage" (load)="loadingImage=false"  class="card-img" [src]="image?image.url:''" [ngClass]="{'hover':isHover}" [ngStyle]="{'height':imageHeight+'px','width':imageHeight+'px'}">
        <div [hidden]="loadingImage" class="right-block">
            <span [ngClass]="{'card-title':true,'hover':isHover}">{{title?title.getTitle().text:''}}</span>
            <div class="card-category">{{capitalizeFirstLetter(category.getText('category.name'))}}</div>
            <div class="card-desc">{{desc}} <span [ngClass]="{'more':true,'hover':isHover}" *ngIf="isMore">  — read more</span></div>
        </div>
    </article>
</div>
<div *ngIf="loaded && !document">
    <h2>Not found!</h2>
</div>