<!--<div *ngIf="document">
    <div class="document-body" [innerHtml]=document.asHtml(linkResolver)></div>
</div>-->
<div class="main-body">
    <div class="nav2">
        <div class="item" [routerLinkActive]="['arrow_box']" [routerLink]="['collection']"><span>Collection</span></div>
        <div class="item" [routerLinkActive]="['arrow_box']" *ngIf="enable" [routerLink]="['review']"><span>Review</span></div>
        <div class="item" [routerLinkActive]="['arrow_box']" [routerLink]="['otherseason']"><span>Other Season</span></div>
    </div>
    <div *ngIf="document && loaded">
        <div class="image-header">
            <ul class="title-container">
                <li>{{season.getText('season.name') | uppercase}}</li><span class="slash-divider"></span>
                <li>{{brand.getText('brand.name') | uppercase}}</li><span class="slash-divider"></span>
                <li>{{date | amDateFormat:'D MMM YYYY'}}</li>
            </ul>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
<div *ngIf="loaded && !document">
    <h2>Not found!</h2>
</div>