@import "~styles/color";
article {
    margin-bottom: 20px;
}
.center {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mycard {
    position: relative;
    width: 100%;
    cursor: pointer;
    transition: all .1s ease-in-out;
    &.hover {
            transform: scale(1.05);
        }
}
img {
        width: 100%;
        position: absolute;
        z-index: 10;
        object-fit: cover;
        transition: all .1s ease-in-out;
        &.hover {
            transform: scale(1.05);
        }
    }
.card-overlay {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.9) 100%);
    z-index: 99;
    width: 100%;
    margin-bottom: 20px;
    transition: all .1s ease-in-out;
    &.hover {
        transform: scale(1.05);
    }
    .card-brand {
        //font-family: 'Lato', sans-serif;
        display: block;
        text-align: center;
        font-weight: 700;
        text-decoration: none;
        transition: all .1s ease-in-out;
        color: white;
        z-index: 101;
        margin-bottom: 5px;
        &.hover {
            // color: hotpink;
            // transform: scale(1.05);
        }
    }
    .card-season {
        display: block;
        text-align: center;
        color: lightgrey;
        z-index: 101;
        margin-bottom: 10px;
    }
    .card-date {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 50px;
        width: 50px;
        border: 1px solid #CCC;
        background-color: white;
        // box-shadow: 1px 1px black;
        color: black;
        text-align: center;
        vertical-align: center;
        padding: 5px;
        // font-family: 'Open Sans', sans-serif;
        .day {
            display: block;
            font-size: 1.2em;
            // font-weight: 700;
        }
        .month {
            display: block;
            font-size: 0.7em;
        }
    }
}

.more {
    color: gray;
    font-weight: bold;
    &.hover {
        color: hotpink;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    line-height: 1.2;
}

h1.card-title {
    font-size: 1.5em;
    font-weight: 700;
    display: inline!important;
    background-size: 200% 100%;
    background-image: linear-gradient(to left, #e7adff 0%, #bad7ff 8%, #b2ffe6 16%, #edffb2 24%, #ffe6b2 32%, #ffd6e2 40%, #ffffff 49%, rgba(1, 1, 1, 0) 50%, rgba(1, 1, 1, 0) 100%);
    transition: background-position 0.3s;
    color: lighten(black, 20);
    &.hover {
        // color: hotpink;
        background-position: -100% 0;
    }
}

.card-category {
    color: lightgrey;
    font-weight: 600;
    //margin-top: 3px;
}

.squarebox {
    margin-top: 5px;
    background-color: $birls_pink;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
    color: white;
    text-shadow: rgb(122, 122, 122) 2px 2px 0px;
    transition: all .1s ease-in-out;
    &:hover {
        background-color: $birls_darkpink;
    }
}