<div *ngIf="document && loaded">

    <article class="card" (mouseenter)="isHover=true" (mouseleave)="isHover=false" [ngClass]="{'hover':isHover}">

        <a [routerLink]="[linkResolver(document)]">
            <div class="center" *ngIf="loadingImage">
                <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>

            </div>
            <img [src]="imageUrl[0]" [ngStyle]="{'display':loadingImage && imageUrl[0]!==''?'none':'block'}" (load)="loadingImage=false">
            <div *ngIf="!loadingImage" [ngClass]="{'card-img':!loadingImage,'hover':isHover}">

                <div *ngIf="showDate" class="card-date">
                    <div class="day">
                        {{date | amDateFormat:'D'}}
                    </div>
                    <div class="month">
                        {{date | amDateFormat:'MMM'}}
                    </div>
                </div>
                <span [ngClass]="{'card-brand':true,'hover':isHover}">{{capitalizeFirstLetter(brand.getText('brand.name'))}}</span>
                <div class="card-season">{{capitalizeFirstLetter(season.getText('season.name'))}}</div>
            </div>


            <!--<div class="card-desc">{{desc}} <span [ngClass]="{'more':true,'hover':isHover}" *ngIf="isMore">  — read more</span></div>-->

        </a>
    </article>
    <!--<div class="document-body" [innerHtml]=document.asHtml(linkResolver)></div>-->
</div>
<div *ngIf="loaded && !document">
    <h2>Not found!</h2>
</div>