@import "./../../../resources/css/color";
$mycolor: #000000;
$nav_font_size: 0.9em;
$nav_sub_font_size: 1.00em;
$desc_font_size:0.9em;
.tab-group {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid lightgrey;
    z-index: 1500;
    .tab {
        display: block;
        background-color: white;
        margin-right: 10px;
        text-align: center;
        a {
            text-decoration: none;
            color: inherit;
        }
        .tab-label {
            position: relative;
            padding: 15px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            font-size: $nav_font_size;
            text-decoration: none;
            cursor: pointer;
            //opacity: 0.5;
            &.hover {
                opacity: 1;
                color: deeppink;
            }
            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: deeppink;
                visibility: hidden;
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transition: all 0.3s ease-in-out 0s;
                transition: all 0.3s ease-in-out 0s;
            }
            &.hover:before {
                visibility: visible;
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
            }
        }
    }
}

.tab-content {
    position: absolute;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background-color: white;
    padding: 20px;
    text-align: left;
    padding-bottom: 20px;
    z-index: 1400;
    &.active {
        display: flex;
        // animation: fadeInFromNone 0.7s ease-out 0.7;
    }
    &.pullDown {
        animation-name: pullDown;
        -webkit-animation-name: pullDown;
        animation-duration: 0.4s;
        -webkit-animation-duration: 0.4s;
        animation-timing-function: ease-in-out;
        -webkit-animation-timing-function: ease-in-out;
        transform-origin: 50% 0%;
        -ms-transform-origin: 50% 0%;
        -webkit-transform-origin: 50% 0%;
    }
    @keyframes pullDown {
        0% {
            transform: scaleY(0.1);
            padding-top: 0px;
        }
        100% {
            transform: scaleY(1);
            padding-top: 15px;
        }
    }
    @-webkit-keyframes pullDown {
        0% {
            transform: scaleY(0.1);
            padding-top: 0px;
        }
        100% {
            transform: scaleY(1);
            padding-top: 15px;
        }
    }
    .tab-link {
        padding: 8px;
        margin-right: 15px;
        li {
            list-style: none;
            a {
                font-size: $nav_sub_font_size;
                font-weight: 800;
                text-decoration: none;
                // background-size: 200% 100%;
                // background-image: -webkit-linear-gradient(to left, #e7adff 0%, #bad7ff 8%, #b2ffe6 16%, #edffb2 24%, #ffe6b2 32%, #ffd6e2 40%, #ffffff 50%, #ffffff 100%);
                // background-image: -o-linear-gradient(to left, #e7adff 0%, #bad7ff 8%, #b2ffe6 16%, #edffb2 24%, #ffe6b2 32%, #ffd6e2 40%, #ffffff 50%, #ffffff 100%);
                // background-image: linear-gradient(to left, #e7adff 0%, #bad7ff 8%, #b2ffe6 16%, #edffb2 24%, #ffe6b2 32%, #ffd6e2 40%, #ffffff 50%, #ffffff 100%);
                transition: background-position 0.5s;
                color: lighten(black, 20);
                &:hover {
                    color: hotpink;
                    // background-position: -100% 0;
                }
            }
        }
    }
    #fashion-menu {
        .row {
            margin-left: 10%!important;
            margin-right: 10%!important;
        }
    }
    .item-title{
        padding: 10px;
    }
    .item-box {
        transition: opacity 0.2s ease-in-out;
    }
    .fade {
        opacity: 0.6;
    }
    img {
        width: 100%;
        height: 170px;
        object-fit: cover;
        object-position: center;
    }
    .item-desc {
        font-family: 'Open Sans', sans-serif;
        color: lighten(#222, 20);
        font-size: $desc_font_size;
        text-align: center;
        padding: 10px 10px 10px 0px;
        &.active {
            color: $birls_darkpink;
        }
    }
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}

.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 990;
    &.fadeIn {
        animation: fadeInFromNone 0.5s ease-out;
    }
}