<!--fashion menu-->
<div *ngIf="loaded">
    <div *ngIf="image?true:false" class="cover noise" ng2-parallax>
        <img [src]="image?image.url : ''" alt="">
        <h1>{{capitalizeFirstLetter(queryTitle)}}</h1>
        <h6>Whoever said money can't buy happiness simply didn't know where to go shopping.</h6>
    </div>

    <div id="cardboard-section" class="container-fluid">
        <div class="row card-board">
            <div class="col-lg-{{12/card_per_row}} flex-row-center card-wrapper" *ngFor="let document of documents;let i = index">
                <card *ngIf="i < card_per_page" [document]="document" [styleNumber]="1" [randomHeight]="true"></card>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12 torn">
                <div class="more" (click)="more()">More..</div>
            </div>
        </div>

    </div>

</div>


<!--loading-->
<div class="loading" *ngIf="!loaded">
    <!--preloader-->
    <div id="pre-bootstrap-container">

        <div id="pre-bootstrap">
            <div class="logo"></div>
            <div class="loader"></div>
        </div>

    </div>
</div>