 @import "./../../../resources/css/color";
 .flex-row-center {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
 }
 
 .cover {
     position: relative;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 350px;
     z-index: 98;
     img {
         width: 100%;
         object-fit: cover;
         z-index: 98;
     }
     &.noise {
         position: relative;
     }
     &.noise:after {
         top: 0;
         left: 0;
         width: 100%;
         height: 350px;
         content: "";
         position: absolute;
         background-image: url('./../../resources/img/noise.png');
     }
     h1 {
         position: relative;
         text-align: center;
         color: white;
         font-family: 'PT Serif', sans-serif;
         font-size: 2.80em;
         font-weight: 700;
         text-shadow: 1px 1px 2px #555;
         z-index: 99;
     }
     h6 {
         font-family: 'PT Serif', sans-serif;
         text-shadow: 1px 1px 2px #555;
         color: white;
         font-weight: 700;
         z-index: 99;
     }
     .social-bar {
         display: flex;
         flex-direction: row;
         justify-content: center;
         position: relative;
         width: 300px;
         top: -100px;
         z-index: 99;
         .circle {
             margin: 3px;
             font-size: 16px;
             color: white;
             border: 2px solid rgba(white, 0.8);
             border-radius: 50%;
             width: 32px;
             height: 32px;
             text-align: center;
             line-height: 30px;
             overflow: hidden;
             cursor: pointer;
             -webkit-transition: all .3s ease-in-out;
             transition: all .3 ease-in-out;
             &.facebook:hover {
                 border: 2px solid #3b5998;
                 background-color: #3b5998;
             }
             &.twitter:hover {
                 border: 2px solid #00aced;
                 background-color: #00aced;
             }
             &.youtube:hover {
                 border: 2px solid #c4302b;
                 background-color: #c4302b;
             }
         }
     }
 }
 
 #all-fashion {
     margin-top: 20px;
     padding: 20px;
     background-color: white;
     border-bottom: 1px solid #CCC;
 }
 
 #all-beauty {
     margin-top: 20px;
     padding: 20px;
     background-color: white;
     border-bottom: 1px solid #CCC;
 }
 
 .title {
     text-align: center;
     margin-bottom: 10px;
     h1 {
         font-size: 1.9em;
         font-weight: 700;
     }
 }
 
 .img-box {
     position: relative;
     transition: all .2s ease-in-out;
     &:hover {
         transform: scale(1.05);
     }
 }
 
 .img-box .caption {
     position: absolute;
     width: 100%;
     bottom: 45%;
     left: 0px;
     color: white;
     text-align: center;
     text-shadow: rgb(122, 122, 122) 2px 2px 0px;
     h3 {
         font-size: 1.5em;
         font-weight: 700;
     }
 }
 
 .img-box img {
     object-fit: cover;
     object-position: center;
     //  border: 1px solid #CCC;
 }
 .mood{
     margin: 10px;
 }
 #popular-tags {
     margin-top: 20px;
     margin-bottom: 20px;
     .title {
         font-family: 'Roboto', sans-serif;
         text-align: center;
         font-size: 1em;
         font-weight: 700;
         color: #333;
     }
     .tag-container {
         display: flex;
         flex-direction: row;
         justify-content: flex-start;
         position: relative;
         flex-wrap: wrap;
     }
     .tag-box {
         margin: 3px 3px 3px 0px;
         font-size: 0.8em;
         color: $birls_darkpink;
         border: 1px solid rgba($birls_darkpink, 0.8);
         border-radius: 3px;
         padding: 5px;
         width: auto;
         height: 32px;
         text-align: center;
         //  line-height: 30px;
         overflow: hidden;
         cursor: pointer;
         -webkit-transition: all .3s ease-in-out;
         transition: all .3 ease-in-out;
         &:hover {
             color: white;
             border: 1px solid $birls_darkpink;
             background-color: $birls_darkpink;
         }
     }
 }
 
 #cardboard-section {
     //  margin-left: 10%;
     //  margin-right: 10%;
 }
 
 .brick {
     width: 33.33%;
     padding: 20px;
 }
 
 .card-board {
     align-content: flex-start;
     background-color: white;
     min-height: 200px;
     @media only screen and (min-width: 992px) {
         padding-top: 20px;
         padding-bottom: 20px;
         padding-left: 15%;
         padding-right: 15%;
     }
     @media only screen and (max-width:992px) {
         padding: 20px;
     }
 }
 
 .card-wrapper {
     margin-top: 20px;
     @media only screen and (min-width: 992px) {
         padding-left: 30px;
         padding-right: 30px;
     }
 }
 
 .more {
     position: relative;
     text-align: center;
     font-size: 3.00em;
     font-weight: 900;
     cursor: pointer;
     -webkit-transition: all .3s ease-in-out;
     transition: all .3 ease-in-out;
     &:hover {
         color: #00aced;
     }
 }
 
 .torn {
     width: 100%;
     padding-top: 40px;
     background-image: url('./../../resources/img/torn.png');
     background-color: #F6F6F6;
     background-repeat: repeat-x;
 }