#logo-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 1000;
    .top-logo {
        position: relative;
        width: 230px;
        height: 150px;
        background-image: url('./../../resources/svg/logo.svg');
        background-repeat: no-repeat;
        background-size: contain;
        fill: hotpink;
    }
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    // height: 300px;
    padding: 20px;
    // background-image: url(http://api.thumbr.it/whitenoise-361x370.png?background=777777ff&noise=626262&density=29&opacity=30);
    background-color: #999;
    margin-bottom: 0px;
    //flex-wrap: wrap;
    @media screen and (max-width: 768px) {
        flex-wrap: wrap;
    }
    .column {
        color: white;
        padding: 15px;
        max-width: 33.3%;
        @media screen and (max-width: 768px) {
            max-width: 100%;
        }
        //background-color: pink;
        .title {
            font-size: 1.25em;
            font-weight: 700;
        }
        .divider {
            display: block;
            margin-top: 5px;
            margin-bottom: 5px;
            border-top: 2px solid white;
            width: 30px;
        }
        .content {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .social-bar {
            display: flex;
            flex-direction: row;
            justify-content: center;
            position: relative;
            width: 300px;
            //top: -100px;
            .circle {
                margin: 3px;
                font-size: 16px;
                color: white;
                border: 2px solid rgba(white, 0.8);
                border-radius: 50%;
                width: 32px;
                height: 32px;
                text-align: center;
                line-height: 30px;
                overflow: hidden;
                cursor: pointer;
                -webkit-transition: all .3s ease-in-out;
                transition: all .3 ease-in-out;
                &.facebook:hover {
                    border: 2px solid #3b5998;
                    background-color: #3b5998;
                }
                &.twitter:hover {
                    border: 2px solid #00aced;
                    background-color: #00aced;
                }
                &.youtube:hover {
                    border: 2px solid #c4302b;
                    background-color: #c4302b;
                }
            }
        }
        .tag-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            position: relative;
            .tag-box {
                margin: 3px 3px 3px 0px;
                font-size: 14px;
                color: white;
                border: 1px solid rgba(white, 0.8);
                border-radius: 3px;
                padding: 5px;
                width: auto;
                height: 32px;
                text-align: center;
                //  line-height: 30px;
                overflow: hidden;
                cursor: pointer;
                -webkit-transition: all .3s ease-in-out;
                transition: all .3 ease-in-out;
                &:hover {
                    border: 1px solid #3b5998;
                    background-color: #3b5998;
                }
            }
        }
    }
}

section {
    position: relative;
    background-color: white;
    z-index: 999;
}