<div class="container-fluid" (mouseleave)="closeAll()">
    
    <div class="row">
        <div class="tab-group">
            <div class="tab" *ngFor="let tab of tabs;let i=index" (mouseenter)="setActive(i)"  >
                <div class="tab-label" [ngClass]="{'hover':tab.active}" [innerHTML]="tab.label">
                    
                </div>
            </div>
        </div>
    </div>



    <div class="row" >
        <div *ngFor="let tab of tabs;let i=index" class="tab-content" [ngClass]="{'active':tab.active && tab.links.length > 0,'pullDown':tab.active}" (mouseenter)="setActive(i)">
            
                <div class="tab-link" >
                    <li *ngFor="let link of tab.links;"><a [routerLink]="link.url" (click)="closeAll()" [innerHTML]="link.label">
                        </a></li>
                </div>

                <div class="tab-item" *ngFor="let item of tab.items;">
                    <img src="{{item.img}}" alt="">
                    <div class="item-desc">
                        {{item.desc}}
                    </div>
                </div>

           
            
               
        </div>
    </div>
     
</div>
<div class="backdrop fadeIn" *ngIf="backdrop" >
    
</div>