<div *ngIf="loaded">
    

<!--<a [routerLink]="[linkResolver(document)]" *ngFor="let document of documents">/{{document.slug}}</a>-->
<div class="cover noise" ng2-parallax >
    <!--<div ng2-parallax style="height: 300px">-->
        <img [src]="imageUrl" alt="">
    <!--</div>-->
    <h1>{{capitalizeFirstLetter(category)}}</h1>
    <h6>Whoever said money can't buy happiness simply didn't know where to go shopping.</h6>
    <div class="social-bar">
        <div class="circle facebook">
            <i class="fa fa-facebook" ceiboShare  [facebook]="{u: fbUrl}" aria-hidden="true"></i>
        </div> 
        <div class="circle twitter">
            <i class="fa fa-twitter" ceiboShare  [facebook]="{url: twUrl}" aria-hidden="true"></i>
        </div>
        <div class="circle youtube">
            <i class="fa fa-youtube" aria-hidden="true"></i>
        </div>
    </div>
    
  
</div>



<div class="card-container">
<div *ngFor="let document of documents;let i =index">
<card *ngIf="i < card_per_page" [document]="document"></card>
</div>

</div>
<div class="more" (click)="more()">More..</div>

    
</div>

<!--loading-->
<div class="loading" *ngIf="!loaded">
        <!--preloader-->
    <div id="pre-bootstrap-container">

            <div id="pre-bootstrap">
                <div class="logo"></div>
                <div class="loader"></div>
            </div>
            
    </div>
</div>

