<div *ngIf="loaded == 6">
    <div id="slider">
        <!--<ngb-carousel>
            <template ngbSlide *ngFor="let image of images">
                <a [attr.href]="image.getText('url')">
                    <img [src]="image.getFirstImage()?image.getFirstImage().url:''" alt="{{image.getText('slider.title')}}">
                </a>
                <div class="carousel-caption">
                    <h3>{{image.getText('title')}}</h3>
                    <p>{{image.getText('description')}}</p>
                </div>
            </template>
        </ngb-carousel>-->

        <div id="carousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li [ngClass]="{'active':i===0}" *ngFor="let image of images;let i = index" data-target="#carousel" [attr.data-slide-to]="i"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item" [ngClass]="{'active':i==0}" *ngFor="let image of images;let i = index;">
                    <img [src]="image.getFirstImage()?image.getFirstImage().url:''" alt="{{image.getText('slider.title')}}">
                    <div class="carousel-caption">
                        <h3>{{image.getText('title')}}</h3>
                        <p>{{image.getText('description')}}</p>
                    </div>
                </div>

            </div>


            <!-- Controls -->
            <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>


        <div id="slider-frame" class="">

        </div>

    </div>

    <div class="container-fluid">
        <div id="cardboard-section" class="row">
            <div class="col-sm-12 col-md-12">
                <!--fashion-->
                <div class="row white">
                    <div id="fashion-section" class="col-sm-12 col-md-10 card-centered">
                        <div class="row">
                            <!--<div class="col-sm-12 col-md-12 icon">
                                    <img src="./../../resources/svg/dress.svg" alt="">
                                </div>-->
                            <div class="col-sm-12 col-md-12 title">
                                FASHION
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-md-4 " *ngFor="let document of fashion_docs.slice(1,4);let i = index">
                                <card [document]="document" [styleNumber]="1" [imageHeight]="200" [limit]="70"></card>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 " *ngFor="let document of fashion_docs.slice(0,1);let i = index">
                                        <card [document]="document" [styleNumber]="1" [imageHeight]="200" [limit]="70"></card>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 " *ngFor="let document of fashion_docs.slice(1,4);let i = index">
                                        <card [document]="document" [styleNumber]="3" [imageHeight]="100" [limit]="70"></card>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--<div class="row">
                                <div class="col-sm-12 col-md-12 justify-content-center">
                                    <span class="view-more" [routerLink]="['fashion/all']">View more fashion articles <i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
                                </div>
                            </div>-->
                    </div>

                </div>
                <!--end fashion-->
                <!--new row-->
                <div id="ig-section" class="row" *ngIf="IGimages">
                    <div class="col-sm-12 col-md-12 col-lg-12 title small">
                        <div class="svg-icon svg-baseline">
                            <img class="svg" src="./../../resources/svg/heart.svg" alt="">
                        </div>
                        KRISTABIRLSLIKEAGIRLS
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 ig-image-container">

                        <masonry [useImagesLoaded]="true" [options]="{ fitWidth:true,transitionDuration: '0.8s',gutter:20}">
                            <masonry-brick *ngFor="let IGimage of IGimages.slice(0,igImageLimit)">
                                <img [src]="IGimage.images.low_resolution.url" alt="" (click)="goUrl(IGimage.link)">
                            </masonry-brick>
                        </masonry>
                    </div>

                </div>
                <!--beauty-->
                <div class="row white">
                    <div id="beauty-section" class="col-sm-12 col-md-10 card-centered">
                        <div class="title">
                            <!--<div class="svg-icon svg-baseline">
                                    <img class="svg" src="./../../resources/svg/perfume.svg" alt="">
                                </div>-->
                            BEAUTY
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 card-centered " *ngFor="let document of beauty_docs.slice(0,1);let i = index">
                                <card [document]="document" [styleNumber]="4" [imageHeight]="500" [limit]="200"></card>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-3 " *ngFor="let document of makeUpDocs.slice(0,1);let i = index">
                                <div class="title">
                                    MAKE UP
                                </div>
                                <card [document]="document" [styleNumber]="1" [imageHeight]="200" [limit]="70"></card>
                            </div>
                            <div class="col-sm-3 col-md-3 " *ngFor="let document of skinCareDocs.slice(0,1);let i = index">
                                <div class="title">
                                    SKIN CARE
                                </div>
                                <card [document]="document" [styleNumber]="1" [imageHeight]="200" [limit]="70"></card>
                            </div>
                            <div class="col-sm-3 col-md-3 " *ngFor="let document of beautyTipsDocs.slice(0,1);let i = index">
                                <div class="title">
                                    BEAUTY TIPS
                                </div>
                                <card [document]="document" [styleNumber]="1" [imageHeight]="200" [limit]="70"></card>
                            </div>
                            <div class="col-sm-3 col-md-3 " *ngFor="let document of hairAndNailDocs.slice(0,1);let i = index">
                                <div class="title">
                                    HAIR & NAIL
                                </div>
                                <card [document]="document" [styleNumber]="1" [imageHeight]="200" [limit]="70"></card>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 flex-row-center">
                                <span class="view-more" [routerLink]="['beauty/all']">View more beauty articles <i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--life styles-->
                <div class="row white">
                    <div id="life-style-section" class="col-sm-12 col-md-10 card-centered">
                        <div class="title">
                            <!--<div class="svg-icon svg-baseline">
                                    <img class="svg" src="./../../resources/svg/perfume.svg" alt="">
                                </div>-->
                            LIFE STYLES
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 card-centered " *ngFor="let document of life_styles_docs.slice(0,1);let i = index">
                                <card [document]="document" [styleNumber]="4" [imageHeight]="500" [limit]="200"></card>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-4 " *ngFor="let document of life_styles_docs.slice(1,4);let i = index">
                                <card [document]="document" [styleNumber]="1" [imageHeight]="200" [limit]="70"></card>
                            </div>
                           
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 flex-row-center">
                                <span class="view-more" [routerLink]="['beauty/all']">View more beauty articles <i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Runway -->
                <div class="row white">
                    <div class="col-sm-12 col-md-10 card-centered">
                        <div class="row">
                            <div class="col-md-12 title">
                                <div class="svg-icon svg-baseline">
                                    <img class="svg" src="./../../resources/svg/perfume.svg" alt="">
                                </div>
                                RUNWAY
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-3 review-padding" *ngFor="let document of collection_docs.slice(0,3);let i =index">
                                <collection-card [showDate]="true" [document]="document" [cardSize]="0.7" [textSize]="1.2" [styleNumber]="2" [limit]="135"></collection-card>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 flex-row-center text-center">
                                <span class="view-more" [routerLink]="['runway']">View more collection <i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>

                </div>
                <!--beauty-->
                <div class="row white">
                    <div class="col-sm-12 col-md-10 card-centered">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 title">
                                <div class="svg-icon svg-baseline">
                                    <img class="svg" src="./../../resources/svg/pen.svg" alt="">
                                </div>
                                BIRLS ARTICLES
                            </div>
                        </div>
                        <div class="row card-board">
                            <div class="col-sm-12 col-md-12">
                                <div class="row">
                                    <div class="col-sm-6 col-md-3 justify-content-center " *ngFor="let document of birls_docs.slice(0,3);let i = index">
                                        <card [document]="document" [styleNumber]="1" [imageHeight]="200" [limit]="70"></card>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 flex-row-center">
                                <span class="view-more" [routerLink]="['birls/all']">View more birls articles <i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="col-sm-12 col-md-4 ">
                    <div id="video" class="row justify-content-center">
                        <div class="col-sm-12 col-md-9">

                            
                            <div id="popular" class="side-container light">
                                <div class="title">
                                    Most Popular Articles
                                </div>
                                <div class="small">
                                    Subscribe our Youtube channel.
                                </div>
                                <div class="divider"></div>
                                
                                <ul >
                                    <li *ngFor="let popular of populars;let i=index" class="popular"><span class="num">{{i+1}}</span><a href="">{{popular}}</a></li>
                                </ul>
                            </div>
                            <div class="side-container dark" >
                                <div class="title">
                                    TV
                                </div>
                                <div class="small">
                                    Subscribe our Youtube channel.
                                </div>
                                <div class="divider"></div>
                                
                                <div class="vid-wrapper">
                                    <img [src]="video.ss" alt="">
                                    <div class="overlay" (click)="goUrl(video.url)">
                                        <img class="play"  (click)="goUrl(video.url)" src="./../../resources/svg/play.svg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>-->



        </div>


    </div>


</div>
<!--loading-->
<div class="loading" *ngIf="loaded < 5">
    <!--preloader-->
    <div id="pre-bootstrap-container">
        <div id="pre-bootstrap">
            <div class="logo"></div>
            <div class="loader"></div>
        </div>
    </div>
</div>