@import "~styles/color";
@import "~styles/media-query";
#logo-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 1000;
    .top-logo {
        position: relative;
        width: 230px;
        height: 150px;
        background-image: url('./../../resources/svg/logo.svg');
        background-repeat: no-repeat;
        background-size: contain;
        fill: hotpink;
    }
}

section {
    position: relative;
    background-color: white;
    z-index: 999;
}

#slider {
    position: relative;
    margin-bottom: 20px;
    h3 {
        text-align: center;
        color: white;
        font-family: 'Lato', sans-serif;
        font-size: 2.50em;
        font-weight: 900;
        text-shadow: 2px 2px #555;
    }
    img {
        height: 600px;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}

#slider-frame {
    position: relative;
    display: block;
    margin: auto;
    z-index: 100;
    width: 80%;
    height: 600px;
    border: 15px solid $birls_darkpink;
    outline: 40px solid white;
}

.carousel {
    position: absolute;
    z-index: 99;
    width: 100%;
}

#inner {
    top: 300px;
}

#custom-homepage {
    height: 500px;
}

#cardboard-section {
    z-index: 120;
    position: relative;
    border-bottom: 1px solid #CCC;
}

.title {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 42px;
    text-align: center;
    padding-top: 10px;
    width: 100%;
    margin-bottom: 20px;
    &.small {
        font-size: 20px;
    }
}

.svg-icon {
    display: inline-flex;
    align-self: center;
    position: relative;
    height: 1em;
    width: 1em;
}

.svg-icon img.svg {
    height: 1em;
    width: 1em;
}

.svg-icon.svg-baseline img.svg {
    bottom: -0.05em;
    position: absolute;
}

.card-board {
    // background-color: white;
    min-height: 200px; // border:1px solid #CCC;
    padding: 10px; // border-bottom: 3px solid #333;
}

#video {
    height: auto;
    background-color: white;
}

.side-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    &.dark {
        border: 1px solid #eee;
        background-color: #f9f9f9;
    }
    &.light {
        border: 1px solid #eee;
        background-color: white;
    }
}

.divider {
    display: block;
    height: 1px;
    width: 60%;
    margin: auto;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    margin-top: 10px;
}

.vid-wrapper {
    position: relative;
    width: 100%;
    img {
        width: 100%;
        height: 200px;
        position: absolute;
        object-fit: cover;
        object-position: center;
        z-index: 200;
    }
    .overlay {
        position: relative;
        width: 100%;
        height: 200px;
        z-index: 201;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .overlay:hover .play {
        transform: scale(1.2);
    }
    .play {
        width: 35px;
        height: 35px;
        transition: all .1s ease-in-out;
        &:hover {
            transform: scale(1.2);
        }
    }
}

#popular {
    .title {
        font-size: 1.5em;
    }
    ul {
        font-family: 'Roboto';
        font-size: 1em;
        width: 100%;
        -webkit-padding-start: 0px;
        list-style: none;
        li {
            padding: 5px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            .num {
                padding: 15px;
                font-size: 1.4em;
                color: $birls_darkpink;
            }
            a {
                color: inherit;
            }
        }
    }
}

.white {
    padding-top: 10px;
    background-color: white;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ig-left-section,
.ig-right-section {
    display: block;
    width: 320px; // border: 1px solid #CCCCCC;
    text-align: center;
    background-color: white;
    padding: 10px;
    iframe {
        border: 0;
        width: 300px;
        height: 300px;
        margin: 0;
        padding: 0;
    }
}

#collection-review-section {
    margin-top: 40px;
    background-color: white;
    border-bottom: 1px solid #CCC;
    padding: 20px 5%;
}

.view-more {
    text-align: right;
    cursor: pointer;
    font-weight: 700;
    &:hover {
        color: $birls_darkpink;
    }
}

.review-padding {
    /* Small devices (tablets, 768px and up) */
    @media #{$xs-only} {
        padding: 20px;
    }
    /* Medium devices (desktops, 992px and up) */
    @media #{$md-up} {
        padding: 40px;
    }
    /* Large devices (large desktops, 1200px and up) */
    @media #{$lg-up} {
        
    }
}

.ig-image-container {
    img {
        width: 100px;
        height: 100px;
        object-fit: contain;
        transition: all 0.1s ease-in-out;
    }
    img:hover {
        transform: scale(1.1);
    }
    masonry-brick {
        margin-bottom: 20px;
    }
    masonry {
        margin : 0 auto;
    }
   
}

#ig-section {
    border-bottom: 1px solid #CCC;
    border-top: 1px solid #CCC;
    background-image: url();
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}