    @import "./../../../resources/css/color";
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Roboto', sans-serif;
    }
    
    h1 {
        font-size: 1.7em;
        font-weight: 700;
        margin-bottom: 10px;
    }
    
    h3 {
        font-size: 1.0em!important;
        font-weight: 700!important;
    }
    
    .flex-row-center {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .flex-col-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .article-container {
        padding-top: 20px;
        background-color: white;
    }
    
    #content-section {
        padding-bottom: 20px;
  
    }
    
    .article-title h1 {
        padding: 0px 20px 0px 0px;
        margin-bottom: 10px;
    }
    
    .article-category {
        margin: 10px 0 10px 0 !important;
        color: darkgrey;
    }
    
    .addthis_inline_share_toolbox {
        margin-bottom: 10px;
    }
    
    img.article-img {
        margin-bottom: 15px;
        width: 100%;
        object-fit: contain;
        transition: all .1s ease-in-out;
        &.hover {
            transform: scale(1.05);
        }
    }
    
    .paragraph {
        font-family: 'Roboto', sans-serif;
    }
    
    .slice {
        padding-bottom: 20px;
    }
    
    .image-with-caption {
        text-align: center;
        p {
            padding: 4px;
            font-size: 0.8em;
        }
    }
    
    #related-article {
        border-top: 1px solid #CCC!important;
        .title {
            font-size: 1.2em;
            font-weight: bold;
            padding: 10px;
        }
    }
    
    #right-section {
        @media only screen and (max-device-width:992px){
            margin-top: 20px;
        }
    }
    
    .share-text {
        text-align: center;
        font-size: 0.90em;
        .number {
            font-weight: bold;
        }
    }
    
    .author {
        margin-bottom: 15px;
        text-align: center;
        padding: 5px;
        .author-name {
            font-size: 1em;
            font-weight: bold;
            margin: 5px;
        }
        .article-date {
            // color: darkgrey;
        }
        .divider {
            display: block;
            margin-top: 10px;
            margin-bottom: 5px;
            border-top: 1px solid lightgrey;
            width: 30px;
        }
    }
    
    #ig-section {
        display: block;
        width: 320px;
        border: 1px solid #CCCCCC;
        text-align: center;
        background-color: white;
        padding: 10px;
        iframe {
            border: 0;
            width: 300px;
            height: 250px;
            margin: 0;
            padding: 0;
        }
    }
    
    #tag-section {
        .title {
            text-align: center;
            font-weight: 700;
        }
        ul {
            -webkit-padding-start: 0!important;
            li {
                display: inline;
            }
        }
        a.tag {
            color: deeppink;
            font-weight: bold;
            margin-right: 5px;
        }
        .tag-container {
            flex-wrap: wrap;
            padding: 0 25px;
        }
        .tag-box {
            margin: 3px 3px 3px 0px;
            font-size: 14px;
            color: $birls_darkpink;
            border: 1px solid rgba($birls_darkpink, 0.8);
            border-radius: 3px;
            padding: 5px;
            width: auto;
            height: 32px;
            text-align: center;
            //  line-height: 30px;
            overflow: hidden;
            cursor: pointer;
            -webkit-transition: all .3s ease-in-out;
            transition: all .3 ease-in-out;
            &:hover {
                color: white;
                border: 1px solid $birls_darkpink;
                background-color: $birls_darkpink;
            }
        }
    }
    
    .comment {
        background-color: #F6F6F6;
        border-top: 1px solid #CCCCCC;
        padding: 20px;
        .title {
            text-align: center;
            font-size: 20px;
            font-weight: bold;
        }
        i {
            font-size: 20px;
        }
        disqus {
            width: 50%;
        }
    }