<div class="article-container" *ngIf="loaded && document">
    <div class="container-fluid">
        <div class="row" id="content-section">
            <div class="col-md-12 col-lg-7 col-lg-offset-1">
                <div class="article-title">
                    <h1>{{title?title.getTitle().text : ''}}</h1>
                </div>
                <div *ngIf="category" class="article-category">
                    {{capitalizeFirstLetter(category)}}
                </div>
                <img *ngIf="image" [src]="image?image.url:''" class="article-img">
                <div class="slice" *ngFor="let slice of slices">
                    <div *ngIf="slice.sliceType==='text'" [innerHtml]="slice.value.asHtml()" class="paragraph"></div>
                    <div *ngIf="slice.sliceType==='image-with-caption'" class="image-with-caption">
                        <img [src]="slice.value.toArray()[0].getImage('illustration').url">
                        <p><span>{{slice.value.toArray()[0].get('caption').asText()}}</span></p>
                    </div>
                    <div *ngIf="slice.sliceType==='quote'" class="quote">
                        <div class="blockquote">
                            <p>{{slice.value.asText()}}</p>
                        </div>
                    </div>
                </div>
                <!-- <contentSlider [slides]="images"></contentSlider> -->
                <div id="related-article" *ngIf="_documents" class="row">
                    <div class="col-lg-12">
                        <div class="title">
                            Related Articles
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 flex-row-center" *ngFor="let document of _documents;let i = index">
                        <card *ngIf="i < maxRelatedDocs" [document]="document" [styleNumber]="2" [imageHeight]="200" [limit]="100"></card>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4" id="right-section">
                <div class="row">
                    <div class="col-lg-12 flex-col-center">
                        <share-buttons [shareTitle]="'SHARES '" [count]="true" [totalCount]="true" [url]="page_url" [defaultStyle]="false" [facebook]="fbInner"
                            [twitter]="twitterInner" [pinterest]="pintInner" [linkedIn]="inInner" [google]="googleInner" [tumblr]="tumblrInner"
                            [reddit]="false" [stumbleUpOn]="false">
                        </share-buttons>
                    </div>
                    <div class="col-lg-12 author flex-col-center">
                        <div class="divider" style="width: 80px;"></div>
                        <i class="fi flaticon-quill-drawing-a-line"></i>
                        <span class="author-name">{{author}}</span>
                        <p class="article-date">
                            {{date | amDateFormat:'MMMM DD, YYYY'}}
                        </p>
                       
                    </div>
                    <div *ngIf="tags.length > 0" id="tag-section" class="col-lg-12">
                        <div class="title">
                            <i class="fa fa-tags" aria-hidden="true"></i> TAGS
                        </div>
                        <div class="tag-container flex-row-center">
                            <div class="tag-box" *ngFor="let tag of tags; let i = index" [routerLink]="['/tags/' + tag]">
                                {{tag}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 comment flex-col-center">
                <div class="title"> <i class="fi flaticon-blank-squared-bubble"></i><br>Comment on Article </div>
                <disqus [shortname]="disqusShortname" [identifier]="page_url"></disqus>
            </div>
        </div>
    </div>
</div>
<div *ngIf="loaded && !document">
    <h2>Not found!</h2>
</div>
<!--loading-->
<div class="loading" *ngIf="!loaded">
    <!--preloader-->
    <div id="pre-bootstrap-container">
        <div id="pre-bootstrap">
            <div class="logo"></div>
            <div class="loader"></div>
        </div>
    </div>
</div>