h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    margin: 0px !important;
}

h1 {
    font-size: 4.00em;
    font-weight: 900;
}

h2 {
    font-weight: 700;
    font-size: 1.5em;
}

h6 {
    font-weight: 700;
}


.group-title {
    background-color: white;
    border-bottom: 1px solid #CCC;
    text-align: center;
    padding: 20px 0px;
}


#collection-section {
    margin: 0 0;
    padding: 20px 0;
    background-color: white;
    position: relative;
    min-height: 200px;
    z-index: 100;
    // border-top: 1px solid deeppink;
}
.more {
    position: relative;
    text-align: center;
    font-size: 3.00em;
    font-weight: 900;
    cursor: pointer;
    top: -100px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3 ease-in-out;
    &:hover {
        color: #00aced;
    }
}
