<div *ngIf="loaded ">

    <div class="group-title">
        <h2>Other Collection from {{brand.getText('brand.name')}}</h2>
    </div>

    <div id="collection-section" class="row justify-content-center">
        <template ngFor let-document [ngForOf]="documents" let-i="index"> 
            <div class="col-md-2" *ngIf="uid !== document.uid">
                <collection-card  [showDate]="false" [document]="document" [cardSize]="1.1" [textSize]="1.1" [styleNumber]="1"></collection-card>
            </div>
        </template>
        <!--<div class="torn"></div>-->
    </div>
</div>

<!--loading-->
<div class="loading" *ngIf="!loaded">
    <!--preloader-->
    <div id="pre-bootstrap-container">

        <div id="pre-bootstrap">
            <div class="logo"></div>
            <div class="loader"></div>
        </div>

    </div>
</div>